<div class="container-fluid ContactArea">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="row">
                <div class="col-sm-6">
                    <form name="Connect_Mail_Form" ng-hide="mailSent" class="Connect_Mail_Form" novalidate>
                        <span class="Connect_Error_Message" ng-show="Connect_Mail_Form.email.$dirty && Connect_Mail_Form.email.$invalid">
                            <span ng-show="Connect_Mail_Form.email.$error.required">נדרש להוסיף כתובת מייל.</span>
                            <span ng-show="Connect_Mail_Form.email.$error.email">נדרש להוסיף כתובת מייל תקינה</span>
                        </span>
                        <span class="Connect_Error_Message" ng-show="Connect_Mail_Form.user.$dirty && Connect_Mail_Form.user.$invalid">
                            <span ng-show="Connect_Mail_Form.user.$error.required">נדרש להוסיף שם.</span>
                        </span>
                        <br>
                        <!-- User Name -->
                        <input type="text" name="user" class="form-control" ng-model="mailContent.name" placeholder="Name" required>
                        <!-- end User Name -->
                        <br>
                        <!-- User Mail -->
                        <input type="email" name="email" class="form-control" ng-model="mailContent.mail" placeholder="Mail" required>
                        <!-- end User Mail -->
                        <br>
                        <!-- User Message -->
                        <textarea type="text" name="message" class="form-control" rows="5" ng-model="mailContent.message" placeholder="Message"></textarea>
                        <!-- end User Message -->
                        <br>
                        <!-- submit button -->
                        <input class="btn btn-default" type="submit" ng-disabled="Connect_Mail_Form.user.$dirty && Connect_Mail_Form.user.$invalid || Connect_Mail_Form.email.$dirty && Connect_Mail_Form.email.$invalid || !Connect_Mail_Form.user.$dirty || !Connect_Mail_Form.email.$dirty" ng-click="submitMail()">
                        <!-- end submit button -->
                    </form>
                    <div class="alert alert-success" ng-show="mailSent">
                      <strong>הצלחה!</strong> המייל שלך נשלח.
                    </div>
                </div>
                <div class="col-sm-6 HebrewRightToLeft">
                    <h2 class="RightOptionHeader">צרו קשר</h2>
                    <h2 class="RightOptionText"><small>אורי פלדמן</small></h2>
                    <h2 class="RightOptionText"><small>uri@bonsaicapital.com</small></h2>
                    <h2 class="RightOptionText"><small>בונסאי קפיטל - אפשרויות למידה נוסף?</small></h2>
                </div>

            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
</div>
