        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('about')">About Us</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('team')">Our Team</p>
                    <p class="RightOptionText pointer" ng-click="notAvailable()">Market News</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('contact')">Contact Us</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">About Us</h4>
                    <p>Bonsai Capital's investment banking services are centered on international equity and technology made in Israel. Among our services:<br></p>
                    <ul>
                        <li class="listDot">Investment banking service – active search, deal-flow development, and investment process mediation for Israeli based technology serving foreign investment firms.</li>
                        <li class="listDot">Corporate Funding – serve local Israeli companies in search for local/international funds directed at growing their business.</li>
                        <li class="listDot">M&amp;A – mergers and acquisitions both locally and internationally.</li>
                        <li class="listDot">International business development – channel distribution development in international markets serving Israeli companies. </li>
                    </ul>
                    <p>The company is led by two experienced managing partners:<br></p>
                    <ul>
                        <li class="listDot">Uri Feldman, a high tech veteran with over 20 years in operational leading roles, entrepreneur, with vast experience in M&amp;A and fund raising.</li>
                        <li class="listDot">Eran Ayzik, with over 20 years' experience in investment companies and high-tech management, former. A former venture capital funds partner with more than 100 investments </li>
                    </ul>
                    <h2 class="MainSectionSmallHeader"><small>Bonsai Capital's strength lies in its leader's experience to identify and screen deal-flow for investment purposes and on its proven ability to make the right connections between investors/buyers and companies/sellers. </small></h2>
                    <p>The firm has a working affiliation with Sunbelt Network, the world's largest M&amp;A firm for SMB's with around 300 offices in all five continents and 3000 partners serving their local markets.</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        