        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
Raising                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">Investment banking</h4>
                    <p>The Israeli technology market is considered in the world to be very attractive for investments. The innovation demonstrated in the tens of thousands of start-ups that were established in the last thirty years led to defining Israel as a "start-up nation". Here is some statistics on the Israeli technology market:</p>
                    <ul>
                        <li class="listDot">Close to 1000 new start-ups are founded every year.</li>
                        <li class="listDot">Over $4B in new investments were done in 2015</li>
                        <li class="listDot">Number of new foreign investors outgrew the number of local new investors in the last 5 years, and in 2015 this trend resulted in a ratio of almost 1:2.</li>
                        <li class="listDot">10 year statistics shows over 1000 exits with $62B in value, and over 900 M&A's with over $57B in value.</li>
                    </ul>
                    <p>In order to increase the probability of success when it comes to foreign investment, the foreign investor should consider using a local representative that knows the Israeli market, and culture in and out especially when its strategy is for multiple investments.<br><br>
Bonsai Capital, due to its founder's vast network connections, is well positioned to serve the foreign investment community with services that include deal-flow development, Due diligence, deal formation and process management. This does not end with the investment. Bonsai Capital remains after the investment is done to closely monitor the assist the invested company, and maintain the parties' relationship at its highest level.</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        