        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">Corporate Funding</h4>
                    <p>Raising funds for growth and/or exercise an exit strategy is a major milestone in a company's life cycle. It requires careful planning, preparation and execution.<br><Br>Bonsai Capital will guide your company in strategizing your fund raise or M&amp;A process, preparing the company to the process, generating all required marketing &amp; financial material and then define the investor type, map investor target list and market the investment opportunity to them.<br><br>RaisingIn addition, Bonsai Capital can assist Israeli based technology companies to develop their business in international markets through channel development and/or OEM agreements.<br><br>
Bonsai Capital has large extensive connections with the investor community both locally and internationally, and it utilizes both existing network search and dynamic active search methods. Bonsai Capital has the know-how and experience team to lead you to a successful process.
</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        