        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">Due Diligence Process</h4>
                    <p>It is critical to assess the investment opportunity both from the upside as well as the risk. Bonsai Capital provides Due-diligence services to its investor clients performed by local professional experts from different fields (analysts, Accountants, lawyers, IP lawyers), and can cover:</p>
                    <ul>
                        <li class="listDot">Market - Market analysis, competition analysis</li>
                        <li class="listDot">Company - Operational analysis, Leading team review</li>
                        <li class="listDot">Finance – Accounting analysis, Valuation analysis</li>
                        <li class="listDot">Legal – Customer and supplier contracts, IP</li>
                    </ul>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        