        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">Fund Raising</h4>
                    <p>Bonsai Capital offer its fund raising services to companies that meet the following profile:</p>
                    <ul>
                        <li class="listDot">Selling stage</li>
                        <li class="listDot">Seeking to raise $2M and up</li>
                        <li class="listDot">Need the funds to grow the business</li>
                        <li class="listDot">Technology or industrial company</li>
                    </ul>
                    <p>Bonsai Capital is able to assist your company in different activities all needed for a successful journey. These activities include:</p>
                    <ul>
                        <li class="listDot">Compiling an investment strategy.</li>
                        <li class="listDot">Defining investor target communities (Type of investor, Geography, financial vs. strategic).</li>
                        <li class="listDot">Preparing the company for due-diligence process.</li>
                        <li class="listDot">Developing business plan and marketing material (investor deck, one pager, valuation analysis).</li>
                        <li class="listDot">Initiate the marketing activities.</li>
                    </ul>
                    <p>Marketing can be done through Bonsai Capital's existing investor network and/or by actively search for the right financial/strategic investor and directly approach them.<br><br>
Bonsai Capital's investor network include venture capital and private equity firms, family house investment firms, private investors, and corporate VC's. The geographic spread is in all five continents. 
</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        