        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
Raising                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">International Business Development</h4>
                    <p>Growing your business usually requires developing your ability to sell and service globally. Many products require ongoing support so a good local support representative is an enabler for sales. However, it's not an easy job to find the right local partner for your company with language and culture barriers.<br><br>
Bonsai Capital is offering its BD services to local Israeli technology and industrial companies utilizing its international investment banker network. At this point Bonsai Capital is offering its service in APAC only. APAC has become the locomotive of the world economy and some countries in APAC are huge market by themselves (China, Korea, India, Japan).<br><br>
Bonsai will find you the right channels in the target countries whether they be agents, resellers, distributors, or OEM partners.
</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        