        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">Local representation</h4>
                    <p>Full service centered on investor's market search criteria. Bonsai Capital act as the investor's long arm in Israel performing all or part of the following services:</p>
                    <ul>
                        <li class="listDot">Deal-flow development through conducting active search per pre-defined criteria set together with the investor at given market segments.</li>
                        <li class="listDot">Screened deal-flow presented for review with investor's investment committee.</li>
                        <li class="listDot">Represent/consult investor in term sheet negotiation</li>
                        <li class="listDot">Manage/orchestrate the detailed due-diligence process done on the potential investment/company</li>
                        <li class="listDot">Consult on the closing contract negotiations</li>
                        <li class="listDot">Stay involved after investment is done by conducting and reporting periodic reviews, represent investor in the BOD, and actively assist/consult the management team as needed.</li>
                    </ul>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        