        <div class="MainContentArea container-fluid">
            <div class="row Info">
                <div class="col-sm-1"></div>
                <!-- Right Side Menu -->
                <div class="col-sm-3 EnglishLeftToRight hidden-xs">
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('banking')">Investment Banking</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('dealflow')">Deal-flow Development</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('duediligence')">Due Diligent Process</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('localrep')">Investor's Local Rep</p>
                    <h4 class="RightOptionHeader pointer" ng-click="InternalLink('corporate')">Corporate Funding</h4>
                    <p class="RightOptionText pointer" ng-click="InternalLink('fundsearch')">Fund Raising</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('manda')">M&amp;A</p>
                    <p class="RightOptionText pointer" ng-click="InternalLink('international')">International BD</p>
                </div>
                <!-- End Right Side Menu -->
                
                <!-- Main Content Section -->
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="RightOptionHeader">M&amp;A</h4>
                    <p>No matter the reason (acquisition, sale, merger) that drive the M&amp;A process, to assure the highest probability for success, it needs to be planned and executed thoroughly. Bonsai Capital's experienced team will assist the buyer/seller through the process with the following activities:</p>
                    <ul>
                        <li class="listDot">Market - Market analysis, competition analysis</li>
                        <li class="listDot">Company - Operational analysis, Leading team review</li>
                        <li class="listDot">Finance – Accounting analysis, Valuation analysis</li>
                        <li class="listDot">Legal – Customer and supplier contracts, IP</li>
                    </ul>
                    <p>Bonsai Capital is utilizing its market connections through international investment bankers that specialize in locating the right candidates for the M&amp;A opportunity, and through its affiliation with Sunbelt Network <a href="www.sunbeltnetwork.com" class="pointer link">(www.sunbeltnetwork.com)</a>, the world's largest M&amp;A firm for SMB's. Sunbelt has around 300 offices in all five continents, with around 3000 people, and 10,000 deals on the table at any given moment. Sunbelt's huge connection network is yet another strength multiplier for Bonsai Capital in serving your M&amp;A needs.</p>
                </div>
                <!-- End Main Content Section -->
                
                <div class="col-sm-1"></div>
            </div>
        </div>        