        <div class="MainContentArea container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
<!--                    <h2>Meet our team</h2>-->
                </div>
                <div class="col-sm-8"></div>
            </div>
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/uriprofile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader TeamMemberName">Uri Feldman</h4>
                    <h4 class="AboutMemberTitle">Managing Partner, Co-Founder</h4>
                    <p>A high tech veteran, with over 25 years in operational management, 15 years out of them in a CEO role. Mr. Feldman started his career with Orbotech LTD (NASDAQ-ORBK, specialized in machine vision), established a very successful software company in the PCB market named Frontline PCB Solutions, and later has been in the role of an entrepreneur in a few start-ups. Mr. Feldman raised around $20M to his companies from various sources, and lead M&amp;A activities from the CEO chair. In the last few years he has been involved in the investment banking service through his activity in Sunbelt and later Bonsai Capital.</p>
                    <p class="pointer FontRed" ng-click="ShowMail('uri')">{{uriMail}}</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/Eranprofile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader TeamMemberName">Eran Ayzik</h4>
                    <h4 class="AboutMemberTitle">Managing Partner, Co-Founder</h4>
                    <p>Mr. Ayzik started his career as an accountant in a big accountant firm, and later served as CFO of Dovrat-Shrem, the largest Israeli investment management house. Mr. Ayzik then joined a venture capital firm named Challenge as a partner, where he was involved in investing in around 100 technology and industrial companies, some through the VC firm and some as an angle. Before joining Bonsai Capital, Mr. Ayzik was involved in the last few years as an investor and CEO in several start-ups, and managed a NASDAQ traded high tech company (RIT), where he successfully executed a betterment process that resulted in a turn-around of its business.</p>
                    <p class="pointer FontRed" ng-click="ShowMail('eran')">{{eranMail}}</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/KennyProfile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader TeamMemberName">Kenny Chan</h4>
                    <h4 class="AboutMemberTitle">Director of Business Development, China Region</h4>
                    <p>Mr. Kenny Chan is a High Tech business veteran in managing sales and business development in Asia. He had held various senior positions from several leading publicly listed companies (such as Mentor Graphics, Orbotech, Tektronix, etc.) Mr. Chan had introduced various new technology/products in meeting the Asia technology needs in the last two decades and had excellent track record in developing business for hardware, software and total solutions. he had held management position in managing a unit of up to 150 people sales &amp; service team, and achieved up to USD 100 million annual sales in Asia.</p>
                    <p class="pointer FontRed" ng-click="ShowMail('Kenny')">{{KennyMail}}</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
        </div>        