        <div class="MainContentArea container-fluid">
            <div class="row">
                <div class="col-sm-1"></div>
                <div class="col-sm-3">
<!--                    <h2>Meet our team</h2>-->
                </div>
                <div class="col-sm-8"></div>
            </div>
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/uriprofile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader">Nullam egestas turpis tortor</h4>
                    <p>Proin aliquam sapien sit amet mauris vehicula, auctor luctus ex hendrerit. Curabitur in cursus neque. Aliquam hendrerit dui eget justo imperdiet ornare. Pellentesque ullamcorper id risus tincidunt faucibus. Pellentesque fringilla magna urna, in efficitur odio mattis sed. Sed iaculis risus a lorem pharetra, ut blandit leo rhoncus. Maecenas volutpat libero sem, id sagittis tellus varius et. Suspendisse potenti. Vivamus laoreet at justo ac sollicitudin. Sed aliquam lobortis auctor. Aliquam eget velit orci. Vivamus nec velit vel dolor congue sagittis in sit amet justo. Donec metus dui, auctor in egestas non, consectetur vel leo. Duis feugiat mauris at ornare vestibulum. Integer fringilla enim sodales porta dictum.</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/uriprofile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader">Nullam egestas turpis tortor</h4>
                    <p>Proin aliquam sapien sit amet mauris vehicula, auctor luctus ex hendrerit. Curabitur in cursus neque. Aliquam hendrerit dui eget justo imperdiet ornare. Pellentesque ullamcorper id risus tincidunt faucibus. Pellentesque fringilla magna urna, in efficitur odio mattis sed. Sed iaculis risus a lorem pharetra, ut blandit leo rhoncus. Maecenas volutpat libero sem, id sagittis tellus varius et. Suspendisse potenti. Vivamus laoreet at justo ac sollicitudin. Sed aliquam lobortis auctor. Aliquam eget velit orci. Vivamus nec velit vel dolor congue sagittis in sit amet justo. Donec metus dui, auctor in egestas non, consectetur vel leo. Duis feugiat mauris at ornare vestibulum. Integer fringilla enim sodales porta dictum.</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
            <!-- profile -->
            <div class="row Info">
                <div class="col-sm-1"></div>
                <div class="col-sm-3 imageColumn">
                    <img class="profileImage" src="../../img/uriprofile.jpg">
                </div>
                <div class="col-sm-7 EnglishLeftToRight">
                    <h4 class="MainSectionHeader">Nullam egestas turpis tortor</h4>
                    <p>Proin aliquam sapien sit amet mauris vehicula, auctor luctus ex hendrerit. Curabitur in cursus neque. Aliquam hendrerit dui eget justo imperdiet ornare. Pellentesque ullamcorper id risus tincidunt faucibus. Pellentesque fringilla magna urna, in efficitur odio mattis sed. Sed iaculis risus a lorem pharetra, ut blandit leo rhoncus. Maecenas volutpat libero sem, id sagittis tellus varius et. Suspendisse potenti. Vivamus laoreet at justo ac sollicitudin. Sed aliquam lobortis auctor. Aliquam eget velit orci. Vivamus nec velit vel dolor congue sagittis in sit amet justo. Donec metus dui, auctor in egestas non, consectetur vel leo. Duis feugiat mauris at ornare vestibulum. Integer fringilla enim sodales porta dictum.</p>
                </div>
                <div class="col-sm-1"></div>
            </div>
            <!-- end profile -->
        </div>        