<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="Jfl12eUy6lHFklR_63X6P_7RqY13sX8oTyD8I8mDY_U" />
        <title>Bonsai Capital</title>
        <link rel="icon" type="image/png" href="img/favico.png">
        <!-- End Meta data -->
        
        <!-- CSS data -->
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap-dialog.css" rel="stylesheet" type="text/css" media="all" />
        <link href="fonts/TrajanProRegular/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/Style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- end CSS data -->
        
        <!-- JS files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-dialog.js"></script>
        <script src="js/Carousel.js"></script>
        <script src="js/AngTopController.js"></script>
        <script src="js/AngTemplateController.js"></script>
        <script src="js/AngFooterController.js"></script>
        <!-- end JS files -->
    </head>
    <body class="Not_Highlightable" ng-app="website">
        <!-- Main Menu -->
        <div class="container-fluid hidden-xs MainHeader" ng-controller="TopController">
            <div class="row TrajanFont">
                <div class="col-sm-4 text-center MenuOption CenterMenuOptionsHorizontaly">
                    <h1 class="pointer" ng-click="InternalLink('index')">
                        <span class="FontDarkGreen">Bonsai</span><span class="FontGrey">Capital</span>
                    </h1>
                </div>

                <div class="row col-sm-8">
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly">
                        <h5 class="pointer"><span class="pointer" ng-click="ChangeLanguage('en')"><img class="languageImage" src="img/En.jpg"></span> | <span class="pointer" ng-click="ChangeLanguage('he')"><img class="languageImage" src="img/He.jpg"></span></h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('about')">
                        <h5 class="pointer">{{TextContent.about}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('team')">
                        <h5 class="pointer">{{TextContent.team}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('services')">
                        <h5 class="pointer">{{TextContent.services}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('market')">
                        <h5 class="pointer">{{TextContent.market}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('contact')">
                        <h5 class="pointer">{{TextContent.contact}}</h5>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Main Menu -->
        
        <!-- Main Content Section -->
        <div class="MainPage" ng-controller="TemplateController">
            <div ng-include="Content"></div>
        </div>
        <!-- End Main Content Section -->
        
        <!-- Footer -->
        <div class="container-fluid BackgroundLightGreen hidden-xs" ng-controller="AngFooterController">
            <div class="row TrajanFont Footer text-center FontWhite">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Company}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('about')">
                        <small class="pointer">{{TextContent.AboutUs}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('ourteam')">
                        <small class="pointer">{{TextContent.OurTeam}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('market')">
                        <small class="pointer">{{TextContent.MarketNews}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('contact')">
                        <small class="pointer">{{TextContent.ContactUs}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.InvesmentBanking}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('investmentsearch')">
                        <small class="pointer">{{TextContent.InvesmentSearch}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('duediligence')">
                        <small class="pointer">{{TextContent.DueDiligence}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('localrep')">
                        <small class="pointer">{{TextContent.LocalRep}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Funding}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('fundsearch')">
                        <small class="pointer">{{TextContent.Fund}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('manda')">
                        <small class="pointer">{{TextContent.MA}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('readiness')">
                        <small class="pointer">{{TextContent.Readiness}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Betterment}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('recovery')">
                        <small class="pointer">{{TextContent.Recovery}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('development')">
                        <small class="pointer">{{TextContent.Development}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('funding')">
                        <small class="pointer">{{TextContent.FundingTxt}}</small>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                
                
                <div class="row FooterLineSeperator"></div>
                <div class="row">
                    <h6>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> {{TextContent.CopyRight}}</h6>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </body>
</html>
