<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="google-site-verification" content="Jfl12eUy6lHFklR_63X6P_7RqY13sX8oTyD8I8mDY_U" />
        <title>Bonsai Capital</title>
        <link rel="icon" type="image/png" href="img/favico.png">
        <!-- End Meta data -->
        
        <!-- CSS data -->
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap-dialog.css" rel="stylesheet" type="text/css" media="all" />
        <link href="fonts/TrajanProRegular/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/Style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- end CSS data -->
        
        <!-- JS files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/bootstrap-dialog.js"></script>
        <script src="js/Carousel.js"></script>
        <script src="js/MobileMenu.js"></script>
        <script src="js/AngTopController.js"></script>
        <script src="js/AngTemplateController.js"></script>
        <script src="js/AngFooterController.js"></script>
        <!-- end JS files -->
    </head>
    <body class="Not_Highlightable" ng-app="website">
        <!-- Main Menu -->
        <div class="container-fluid MainHeader" ng-controller="TopController">
            <div class="row TrajanFont">
                <div class="col-sm-3 text-center MenuOption CenterMenuOptionsHorizontaly">
                    <h1 class="pointer" ng-click="InternalLink('index')">
                        <span class="FontDarkGreen">Bonsai</span><span class="FontGrey">Capital</span>
                    </h1>
                </div>
                <div class="col-sm-1 text-center MenuOption CenterMenuOptionsHorizontaly hidden-xs">
                    <h5><span class="pointer" ng-click="notAvailable()"><img class="languageImage" src="img/En.jpg"></span> | <span class="pointer" ng-click="notAvailable()"><img class="languageImage" src="img/He.jpg"></span></h5>
<!--                    <h5><span class="pointer" ng-click="ChangeLanguage('en')"><img class="languageImage" src="img/En.jpg"></span> | <span class="pointer" ng-click="ChangeLanguage('he')"><img class="languageImage" src="img/He.jpg"></span></h5>-->
                </div>
                <div class="row col-sm-8 hidden-xs">
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('about')">
                        <h5 class="pointer">{{TextContent.about}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('team')">
                        <h5 class="pointer">{{TextContent.team}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('services')">
                        <h5 class="pointer">{{TextContent.InvestmentBanking}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('services')">
                        <h5 class="pointer">{{TextContent.Corporate}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="notAvailable()">
                        <h5 class="pointer">{{TextContent.market}}</h5>
                    </div>
                    <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('contact')">
                        <h5 class="pointer">{{TextContent.contact}}</h5>
                    </div>
                </div>
            </div>
            <nav class="visible-xs" id="MobileMenuHolder">
              <ul ng-class="mobileMenuClass">

                <!--Include your navigation here-->
                <li class="text-right"><a href="#" id="nav-close">X</a></li>
                <li><a href="#" ng-click="InternalLink('index')" id="nav-close">{{TextContent.home}} <span class="icon"></span></a></li>
                <li><a href="#" ng-click="InternalLink('about')" id="nav-close">{{TextContent.about}} <span class="icon"></span></a></li>
                <li><a href="#" ng-click="InternalLink('team')" id="nav-close">{{TextContent.team}} <span class="icon"></span></a></li>
                <li><a href="#">{{TextContent.InvesmentBanking}}</a>
                  <ul class="list-unstyled">
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('investmentsearch')" id="nav-close">{{TextContent.InvesmentSearch}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('duediligence')" id="nav-close">{{TextContent.DueDiligence}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('localrep')" id="nav-close">{{TextContent.LocalRep}} <span class="icon"></span></a></li>
                  </ul>
                </li>
                <li><a href="#">{{TextContent.Funding}}</a>
                  <ul class="list-unstyled">
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('Funding')" id="nav-close">{{TextContent.Fund}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('manda')" id="nav-close">{{TextContent.MA}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('readiness')" id="nav-close">{{TextContent.Readiness}} <span class="icon"></span></a></li>
                  </ul>
                </li>
                <li><a href="#">{{TextContent.Betterment}}</a>
                  <ul class="list-unstyled">
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('recovery')" id="nav-close">{{TextContent.Recovery}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('development')" id="nav-close">{{TextContent.Development}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="InternalLink('funding')" id="nav-close">{{TextContent.FundingTxt}} <span class="icon"></span></a></li>
                  </ul>
                </li>
                <li><a href="#" ng-click="InternalLink('market')" id="nav-close">{{TextContent.market}} <span class="icon"></span></a></li>
                <li><a href="#" ng-click="InternalLink('contact')" id="nav-close">{{TextContent.contact}} <span class="icon"></span></a></li>
                <li><a href="#">{{TextContent.Language}}</a>
                  <ul class="list-unstyled">
                      <li class="sub-nav"><a href="#" ng-click="ChangeLanguage('en'); ChangeMobileMenuLanguage()" id="nav-close">{{TextContent.englsh}} <span class="icon"></span></a></li>
                      <li class="sub-nav"><a href="#" ng-click="ChangeLanguage('he'); ChangeMobileMenuLanguage()" id="nav-close">{{TextContent.hebrew}} <span class="icon"></span></a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <img id="nav-expander" class="MenuIcon visible-xs" src="img/menuIcon.svg">
        </div>
       <!-- End Main Menu -->
        
        <!-- Main Content Section -->
        <div class="MainPage" ng-controller="TemplateController">
            <div ng-include="Content"></div>
        </div>
        <!-- End Main Content Section -->
        
        <!-- Footer -->
        <div class="container-fluid BackgroundLightGreen" ng-controller="AngFooterController">
            <div class="row TrajanFont Footer text-center FontWhite">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 FooterColumn hidden-xs">
                    <div class="row FooterHeader"><h4>{{TextContent.Company}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('about')">
                        <small class="pointer">{{TextContent.AboutUs}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('ourteam')">
                        <small class="pointer">{{TextContent.OurTeam}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="notAvailable()">
<!--                    <div class="row FooterElement" ng-click="InternalLink('market')">-->
                        <small class="pointer">{{TextContent.MarketNews}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('contact')">
                        <small class="pointer">{{TextContent.ContactUs}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn hidden-xs">
                    <div class="row FooterHeader"><h4>{{TextContent.InvesmentBanking}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('investmentsearch')">
                        <small class="pointer">{{TextContent.InvesmentSearch}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('duediligence')">
                        <small class="pointer">{{TextContent.DueDiligence}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('localrep')">
                        <small class="pointer">{{TextContent.LocalRep}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn hidden-xs">
                    <div class="row FooterHeader"><h4>{{TextContent.Funding}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('fundsearch')">
                        <small class="pointer">{{TextContent.Fund}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('manda')">
                        <small class="pointer">{{TextContent.MA}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('readiness')">
                        <small class="pointer">{{TextContent.Readiness}}</small>
                    </div>
                </div>
                <div class="col-sm-2 FooterColumn hidden-xs">
                    <div class="row FooterHeader"><h4>{{TextContent.Betterment}}</h4></div>
                    <div class="row FooterElement" ng-click="InternalLink('recovery')">
                        <small class="pointer">{{TextContent.Recovery}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('development')">
                        <small class="pointer">{{TextContent.Development}}</small>
                    </div>
                    <div class="row FooterElement" ng-click="InternalLink('funding')">
                        <small class="pointer">{{TextContent.FundingTxt}}</small>
                    </div>
                </div>
                <div class="col-sm-2"></div>
                
                <div class="row visible-xs">
                    <h5>BonsaiCapital</h5>
                </div>
                <div class="row FooterLineSeperator"></div>
                <div class="row">
                    <h6>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> {{TextContent.CopyRight}}</h6>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </body>
</html>
