<!DOCTYPE html>
<html>
    <head>
        <!-- Meta data -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bonsai Capital</title>
        <link rel="icon" type="image/png" href="img/favico.png">
        <!-- End Meta data -->
        
        <!-- CSS data -->
        <link href="css/bootstrap-theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
        <link href="fonts/TrajanProRegular/stylesheet.css" rel="stylesheet" type="text/css" media="all" />
        <link href="css/Style.css" rel="stylesheet" type="text/css" media="all" />
        <!-- end CSS data -->
        
        <!-- JS files -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script> 
        <script src="js/angular.min.js"></script>
        <script src="js/angular-cookies.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/Carousel.js"></script>
        <script src="js/AngTopController.js"></script>
        <script src="js/AngMainIndex.js"></script>
        <script src="js/AngFooterController.js"></script>
        <!-- end JS files -->
    </head>
    <body ng-app="website">
        <!-- Main Menu -->
        <div class="container-fluid hidden-xs MainHeader" ng-controller="TopController">
            <div class="row TrajanFont">
                <div class="col-sm-4 text-center MenuOption CenterMenuOptionsHorizontaly"><h1><span class="FontDarkGreen">Bonsai</span><span class="FontGrey">Capital</span></h1></div>
                <div class="row col-sm-8">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly" ng-click="InternalLink('aboutus')"><h5>{{TextContent.about}}</h5></div>
                <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly"><h5>{{TextContent.team}}</h5></div>
                <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly"><h5>{{TextContent.services}}</h5></div>
                <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly"><h5>{{TextContent.market}}</h5></div>
                <div class="col-sm-2 text-center MenuOption CenterMenuOptionsHorizontaly"><h5>{{TextContent.contact}}</h5></div>
                </div>
            </div>
        </div>
        <!-- End Main Menu -->
        
        <!-- Main Menu -->
        <div class="MainContentArea" ng-controller="MainIndexController">
            <!-- Picture Carousel -->
            <div id="carousel" class="carousel slide carousel-fade" data-ride="carousel">
                <ol class="carousel-indicators hidden-xs">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                </ol>
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div class="active item"><img class="carouselImg" src="img/1.jpg"></div>
                    <div class="item"><img class="carouselImg" src="img/2.jpg"></div>
                    <div class="item"><img class="carouselImg" src="img/3.jpg"></div>
                </div>
                <!-- Carousel nav -->
                <a class="carousel-control left" href="#carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                </a>
                <a class="carousel-control right" href="#carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                </a>
            </div>
            <!-- End Picture Carousel -->   
            
            <!-- 3-set Vectore Images -->
            <div class="container-fluid ThreeSetVectorContainer">
                <div class="row">
                    <div class="col-sm-12">
                        <h1><small>{{TextContent.ThreeVectorSetHeaderOne}}<br>{{TextContent.ThreeVectorSetHeaderTwo}}</small></h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <div class="col-sm-4">
                                <img class="ThreeVectoreSetImg" src="img/bank.jpg"><br>
                                <h3 class="ThreeVectoreSetTxt">{{TextContent.ThreeVectorSetBanking}}</h3>
                            </div>
                            <div class="col-sm-4">
                                <img class="ThreeVectoreSetImg" src="img/money.jpg"><br>
                                <h3 class="ThreeVectoreSetTxt">{{TextContent.ThreeVectorSetFunding}}</h3>
                            </div>
                            <div class="col-sm-4">
                                <img class="ThreeVectoreSetImg" src="img/graph.jpg"><br>
                                <h3 class="ThreeVectoreSetTxt">{{TextContent.ThreeVectorSetBetterment}}</h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <!-- End 3-set Vectore Images -->
            <!-- 3-set ImageTextBoxes -->
            <div class="container-fluid ThreeSetImgTxtContainer">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <div class="row">
                            <!-- ImageIsDown -->
                            <div class="col-sm-4">
                                <div class="ThreeSetImgTxtTxtArea">
                                    <h4>{{TextContent.ThreeVectorTxtLeftHeader}}</h4><br>
                                    <p>{{TextContent.ThreeVectorTxtLeftContent}}</p>
                                </div>
                                <div class="ThreeSetImgTxtImgArea"><img class="ThreeSetImgTxtImg" src="img/img1.jpg"></div>
                            </div>
                            <!-- End ImageIsDown -->
                            <!-- ImageIsUp -->
                            <div class="col-sm-4">
                                <div class="ThreeSetImgTxtImgArea"><img class="ThreeSetImgTxtImg" src="img/img2.jpg"></div>
                                <div class="ThreeSetImgTxtTxtArea">
                                    <h4>{{TextContent.ThreeVectorTxtCenterHeader}}</h4><br>
                                    <p>{{TextContent.ThreeVectorTxtCenterContent}}</p>
                                </div>
                            </div>
                            <!-- End ImageIsUp -->
                            <!-- ImageIsDown -->
                            <div class="col-sm-4">
                                <div class="ThreeSetImgTxtTxtArea">
                                    <h4>{{TextContent.ThreeVectorTxtRightHeader}}</h4><br>
                                    <p>{{TextContent.ThreeVectorTxtRightContent}}</p>
                                </div>
                                <div class="ThreeSetImgTxtImgArea"><img class="ThreeSetImgTxtImg" src="img/img3.jpg"></div>
                            </div>
                            <!-- End ImageIsDown -->
                        </div>
                    </div>
                    <div class="col-sm-2"></div>
                </div>
            </div>
            <!-- End 3-set ImageTextBoxes -->
        </div>
        <!-- End Main Menu -->
        
        <!-- Footer -->
        <div class="container-fluid BackgroundLightGreen hidden-xs" ng-controller="AngFooterController">
            <div class="row TrajanFont Footer text-center FontWhite">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Company}}</h4></div>
                    <div class="row FooterElement"><small>{{TextContent.AboutUs}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.OurTeam}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.MarketNews}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.ContactUs}}</small></div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.InvesmentBanking}}</h4></div>
                    <div class="row FooterElement"><small>{{TextContent.InvesmentSearch}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.DueDiligence}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.LocalRep}}</small></div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Funding}}</h4></div>
                    <div class="row FooterElement"><small>{{TextContent.Fund}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.MA}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.Readiness}}</small></div>
                </div>
                <div class="col-sm-2 FooterColumn">
                    <div class="row FooterHeader"><h4>{{TextContent.Betterment}}</h4></div>
                    <div class="row FooterElement"><small>{{TextContent.Recovery}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.Development}}</small></div>
                    <div class="row FooterElement"><small>{{TextContent.FundingTxt}}</small></div>
                </div>
                <div class="col-sm-2"></div>
                
                
                <div class="row FooterLineSeperator"></div>
                <div class="row languageDecider FontWhite"><p><span ng-click="ChangeLanguage('en')">English</span> | <span ng-click="ChangeLanguage('he')">Hebrew</span></p></div>
                <div class="row">
                    <h6>Copyright <span class="glyphicon glyphicon-copyright-mark"></span> {{TextContent.CopyRight}}</h6>
                </div>
            </div>
        </div>
        <!-- End Footer -->
    </body>
</html>
