/*
	Created by Yuval Feldman
    Website: yuvalfeldman.com \ feldmanyuval.com
    GitHub: https://github.com/YuvalFeldman
*/
/*
 * General
 */
.TrajanFont{
    font-family: 'TrajanProRegular';
}
.FontLightGreen{
    color: #4a9d4f;
}
.FontDarkGreen{
    color: #0e5c11;
}
.FontGrey{
    color: #a1aea5;
}
.FontWhite{
    color: #ffffff;
}
.Not_Highlightable{
    cursor:default;
}
.Link{
    color: #758f9c;
}
a{
    color: inherit;
    text-decoration: inherit;
}
.pointer{
    cursor: pointer;
}
.HebrewRightToLeft{
    text-align: right;
}
.EnglishLeftToRight{
    text-align: Left;
}

/*
 * General
 */
.BackgroundLightGreen{
    background-color: #4a9d4f;
}

/*
 * Web page
 */
html {
    height: 100%;
    overflow-x: hidden;
}

body{
    height:100%;
	background:#fff;
	font-family: 'footlight';
	margin: 0px;
    padding: 0px;
    background-color: #fff; 
    display: block;
    overflow-x: hidden;
    position: relative;
    -webkit-user-select: none;     
    -moz-user-select: none; 
    -ms-user-select: none; 
    -o-user-select: none;
    user-select: none;
    cursor:default;
}

/*
 * Header Menu
 */
.MainHeader{
    box-shadow: 0px 0px 1px #888888;
}
.MenuOption{
    height: 6em;
}
.CenterMenuOptionsHorizontaly{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.languageDecider{
    display: inline;
    text-align: center;
    padding: 2em 0 0 0;
    margin: 0;
}
.class="languageImage"{
    width: 14px;
    height: auto;
}


/*
 * MainContentArea
 */
.MainContentArea{
    min-height: 100%;
    padding-bottom: 3em;
}
.MainPage{
    min-height: 80%;
}

/*
 * Carousel
 */
.carousel-fade {
    .carousel-inner {
        .item {
            transition-property: opacity;
        }
        
        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0, 0, 0);
        }
    }

    .carousel-control {
        z-index: 2;
    }
}

.carousel, 
.carousel-inner, 
.carousel-inner .item {
    height: auto;
}
.carouselImg{
    width: 100%;
}

/*
 * 3-set Vectore Images
 */
.ThreeSetVectorContainer{
    text-align: center;
    padding: 3em 0 3em 0;
}
.ThreeVectoreSetImg{
    width: 140px;
    height: auto;
}
.ThreeVectoreSetTxt{
    padding: 0;
    margin: 0;
}
/*
 * 3-set Image Txt
 */
.ThreeSetImgTxtContainer{
    padding: 3em 0 3em 0;
    min-height: 40em;
}
.ThreeSetImgTxtTxtArea{
    min-height: 15em;
    padding: 0;
    margin: 0;

}
.ThreeSetImgTxtImgArea{
    padding: 0;
    margin: 0;
}
.ThreeSetImgTxtImg{
    height: auto;
    width: 100%;
}
.ThreeSetImgTxtSetMobile{
    padding: 0 0 3em 0;
    margin: 0;
    text-align: center;
}
.ThreeSetImgTxtTxtAreaMobile{
    padding: 0 10% 0 10%;
    margin: 0;

}
.ThreeSetImgTxtImgAreaMobile{
    border-radius: 6px;
    padding: 0;
    margin: 0;
}
.ThreeSetImgTxtImgMobile{
    height: auto;
    width: 80%;
}

/*
 * Team page
 */
.profileImage{
    width: 15em;
    height: auto;
    border-radius: 6px;
}
.imageColumn{
    text-align: center;
}
/*
 * Main Content Sections
 */
.Info{
    padding: 3em 0 0 0;
}

.RightOptionHeader{
}
.MainSectionHeader{
    font-weight: bold;
}
.MainSectionSmallHeader{
    padding: 1em 0 1em 0;
    text-align: center;
}
.RightOptionText{
    margin-left: 10%;
}
/*
 * Contact
 */
.ContactArea{
    padding: 10% 3em 3em 3em;
}
.Connect_Error_Message{
    color: crimson;
}


/*
 * Mobile Side Menu
 */
a.nav-expander {
  background: none repeat scroll 0 0;
  display: block;
  height: 50px;
  margin-right: 0;
  padding: 1em 1.6em 1em;
  position: absolute;
  right: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: right 0.3s ease-in-out 0s;
  width: 130px;
  z-index: 12;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
    right: 0;
}
nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  right: -20em;
  top: 0;
  width: 20em;
  z-index: 2000;

  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;

}
.nav-expanded nav {
  right: 0;
}

body.nav-expanded {
  margin-left: 0em;
  transition: right 0.4s ease-in-out 0s;
  -webkit-transition: right 0.4s ease-in-out 0s;
  -moz-transition: right 0.4s ease-in-out 0s;
  -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  padding-right: 10px;
}
.main-menu {
  padding-top: 12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-left: 20px;
  padding: 12px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu a .caret {
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: top;
	border-top: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
    margin-top: 8px;
}

.main-menu a:hover .caret {
	border-top-color: #4f5963;
}

.main-menu li.open > a > .caret {
	border-top: none;
	border-bottom: 4px solid #4f5963;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
}

.main-menu li.open > a:hover > .caret {
	border-bottom-color: #4f5963;
}

.icon:before {
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.main-menu li > a > span.icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.main-menu li > a:hover > span.icon {
  float: right;
  margin: 0.1em 0.8em -0.1em 0;
  opacity: 1;
}
.MobileMenuIcon{
    margin: 0;
    padding: 0 0 0 0;
    width: 30%;
    height: auto;
    float: right;
    position: absolute;
}
.MenuIcon{
    position: fixed;
    width: 1.5em;
    height: 1.5em;
    z-index: 20;
    top: 1em;
    right: 2em;
}

/*
 * Footer
 */
.Footer{
    height: auto;
}

.FooterColumn{
    padding: 3em 0 0 0;
}
.FooterHeader{
}
.FooterElement{
    padding: 2em 0 0 0;
}
.FooterLineSeperator{
    margin: 2em 0 0 0;
    padding: 0;
    height: 2px;
    width: 70%;
    display: inline-block;
    background-color: white;
}